In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

## To keep the plots even after closing the notebook
import plotly.io as pio
pio.renderers.default='notebook'

In [2]:
folder_path = 'output/'
# list all files in the directory
files = os.listdir(folder_path)

# filter files that start with 'Take_2' and end with '.csv'
filtered_files = [file for file in files if file.startswith('Take_2') and file.endswith('.csv')]
filtered_files.sort()
# print the list of filtered files
filtered_files

['Take_2_2006Fall_2017Spring_GOES_meteo_combined_04839.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_04846.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_04877.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_04892.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14815.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14819.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14829.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14836.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14840.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14841.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14845.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14848.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14850.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94814.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94815.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94860.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94871.csv',
 'Take_2_2008Fall_2017Spring_GOES_meteo_combined_94833.csv']

In [3]:
len(filtered_files)

18

In [4]:
filename = filtered_files[16]
filename

'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94871.csv'

In [5]:


file_path = 'output/'

df_temp_table = pd.read_csv(file_path+filename)

df_temp_table.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18,precip_work_zone,is_snow_precip,is_precip,does_snow_24_120
0,2006-10-01,00:00,2006-09-30,18:00,goes11.2006.10.01.0000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0000.v01.nc-var1-t0.csv.csv,"[0.0075, 0.0025, 0.0, 0.005, 0.0, 0.005, nan, ...",False,0,False,...,1009.10,1009.10,0.00,NC,NC,NaN,0.00,False,False,False
1,2006-10-01,01:00,2006-09-30,19:00,goes11.2006.10.01.0100.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0100.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0025, nan, 0.0, nan, 0...",False,0,False,...,1009.90,1009.80,0.00,NC,NC,NaN,0.00,False,False,False
2,2006-10-01,02:00,2006-09-30,20:00,goes11.2006.10.01.0200.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0200.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.0075, nan, nan, 0.0025, nan, nan,...",False,0,False,...,1010.30,1010.20,0.01,NC,NC,NaN,0.01,False,True,False
3,2006-10-01,03:00,2006-09-30,21:00,goes11.2006.10.01.0300.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0300.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0, 0.0075, nan, 0.005,...",False,0,False,...,1010.80,1010.80,0.00,NC,NC,NaN,0.00,False,False,False
4,2006-10-01,04:00,2006-09-30,22:00,goes11.2006.10.01.0400.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0400.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0, nan, 0.0075, 0.0, nan, nan,...",False,0,False,...,1011.40,1011.20,0.00,NC,NC,NaN,0.00,False,False,False

In [6]:
## Inspection use only

df_temp_table['data_usable'].value_counts()

True     24904
False    23220
Name: data_usable, dtype: int64

In [7]:
# Define the time UTC values to exclude
exclude_utc_values = ['21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00',
                      '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00']

# Filter the dataframe based on the exclusion of time UTC values
filtered_df = df_temp_table[~df_temp_table['Time_UTC'].isin(exclude_utc_values)]

# Check the distribution of values in the 'data_usable' column
distribution = filtered_df['data_usable'].value_counts()

distribution

True     13867
False      170
Name: data_usable, dtype: int64

In [8]:
filtered_df = filtered_df.drop('Unnamed: 18', axis=1)

In [9]:
filtered_df['event_year'] = filtered_df['Date_UTC'].str[:4]

In [10]:
# Filter the dataframe based on the condition
filtered_rows = filtered_df[(filtered_df['data_usable'] == False) & (filtered_df['Date_UTC'].str.startswith('2011'))]

filtered_rows

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),precip_work_zone,is_snow_precip,is_precip,does_snow_24_120,event_year
20229,2011-01-22,19:00,2011-01-22,13:00,goes13.2011.01.22.1900.v01.nc-var0.csv,T_goes13.2011.01.22.1900.v01.nc-var0.csv.csv,"[-2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2....",False,3599,False,...,1011.40,1010.2,0.00,3,NC,0.00,False,False,True,2011
20230,2011-01-22,20:00,2011-01-22,14:00,goes13.2011.01.22.2000.v01.nc-var0.csv,T_goes13.2011.01.22.2000.v01.nc-var0.csv.csv,"[-2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2....",False,3599,False,...,1011.50,1010.2,0.00,4,NC,0.00,False,False,True,2011
20922,2011-02-20,16:00,2011-02-20,10:00,goes13.2011.02.20.1600.v01.nc-var0.csv,T_goes13.2011.02.20.1600.v01.nc-var0.csv.csv,"[-2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2....",False,3599,False,...,1018.40,1017.6,0.00,25,NC,0.00,False,False,True,2011
20923,2011-02-20,17:00,2011-02-20,11:00,goes13.2011.02.20.1700.v01.nc-var0.csv,T_goes13.2011.02.20.1700.v01.nc-var0.csv.csv,"[-2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2....",False,3599,False,...,1017.30,1016.6,0.08,26,NC,0.08,False,True,True,2011
20925,2011-02-20,19:00,2011-02-20,13:00,goes13.2011.02.20.1900.v01.nc-var0.csv,T_goes13.2011.02.20.1900.v01.nc-var0.csv.csv,"[-2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2.0, -2....",False,3599,False,...,1012.40,1011.5,0.03,24,NC,0.03,False,True,True,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23465,2011-12-06,15:00,2011-12-06,09:00,None,None,[0. 0. 0. ... 0. 0. 0.],False,3599,False,...,1025.30,1024.7,0.00,22,NC,0.00,False,False,True,2011
23489,2011-12-07,15:00,2011-12-07,09:00,None,None,[0. 0. 0. ... 0. 0. 0.],False,3599,False,...,1017.50,1016.9,0.00,25,NC,0.00,False,False,True,2011
23518,2011-12-08,20:00,2011-12-08,14:00,None,None,[0. 0. 0. ... 0. 0. 0.],False,3599,False,...,1022.30,1021.7,0.00,28,NC,0.00,False,False,False,2011
23637,2011-12-13,19:00,2011-12-13,13:00,goes15.2011.12.13.1900.v01.nc-var0.csv,T_goes15.2011.12.13.1900.v01.nc-var0.csv.csv,"[-56.0, -56.0, -56.0, -56.0, -56.0, -56.0, -56...",False,3599,False,...,1028.90,1028.4,0.00,NC,NC,0.00,False,False,True,2011
23686,2011-12-15,20:00,2011-12-15,14:00,None,None,[0. 0. 0. ... 0. 0. 0.],False,3599,False,...,1009.80,1009.8,0.00,34,NC,0.00,False,False,True,2011

In [11]:
df_unusable_data = filtered_df[filtered_df['data_usable'] == False]

df_unusable_data['event_year'].value_counts()

2011    75
2010    36
2009    34
2012    12
2008     5
2015     4
2007     3
2006     1
Name: event_year, dtype: int64

In [12]:
df_unusable_data.to_csv('output/unusable_data_rev_2.csv', index=False)

---

## Testing Area

In [13]:
file_str = 'goes15.2016.12.08.1200.v01.nc-var1-t0.csv'

In [14]:
from tqdm import tqdm
index_pack = [np.array(i) for i in range(9)]
for i in tqdm(index_pack):
    print(i)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 16732.60it/s]

0
1
2
3
4
5
6
7
8