In [1]:
import os
import pandas as pd
import scipy
import numpy as np
from datetime import datetime
import pytz

In [2]:
os.getcwd()
os.chdir("/srv/scratch/NOAA/GOES_Hourly_Statistics/stats_result/")
os.getcwd()

'/srv/scratch/NOAA/GOES_Hourly_Statistics/stats_result'

In [3]:
bc = pd.read_csv('04_binned_lat_lon_opencv_16f17s_lake_0.csv')
bc

,Date,Time,Mean,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected
0,20161001,'0000,0.002264,-86.782607,43.826370,0.636727,1.220643,0.715181,0.131627,3.182644,1.770542,2,s00
1,20161001,'0100,0.001852,-86.754424,43.891926,0.628781,1.218608,0.723015,0.038475,3.092168,1.756313,4,s00
2,20161001,'0200,0.002130,-86.737593,43.898986,0.656686,1.234509,0.702905,0.033103,3.072279,1.743432,4,s00
3,20161001,'0300,0.001982,-86.732503,43.926745,0.636780,1.225590,0.645259,0.038893,2.977448,1.776747,3,s00
4,20161001,'0400,0.001981,-86.739351,43.909146,0.638174,1.227341,0.622967,0.051944,2.931741,1.737196,4,s00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,20170331,'1900,0.453092,-86.874526,43.350121,0.577146,1.066724,0.837941,0.668496,3.936318,2.516898,4,s00
4363,20170331,'2000,0.367999,-86.932753,43.313661,0.545436,1.030481,0.871549,0.685388,4.150541,2.696614,3,s00
4364,20170331,'2100,0.301312,-86.922137,43.335085,0.520052,1.039704,0.805202,0.647152,4.133676,2.650898,3,s00
4365,20170331,'2200,0.237262,-86.856535,43.454139,0.535951,1.123169,0.738047,0.546808,3.952266,2.270418,4,s00
4366,20170331,'2300,0.150339,-86.781427,43.648737,0.591748,1.232899,0.604809,0.335607,3.272382,1.801974,4,s00

In [4]:
h_list = []
m_list = []
for t in bc['Time']:
    h_list.append(int(t[1:3]))
    m_list.append(int(t[-2:]))
bc['Hour'] = h_list
bc['Min'] = m_list
bc

,Date,Time,Mean,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected,Hour,Min
0,20161001,'0000,0.002264,-86.782607,43.826370,0.636727,1.220643,0.715181,0.131627,3.182644,1.770542,2,s00,0,0
1,20161001,'0100,0.001852,-86.754424,43.891926,0.628781,1.218608,0.723015,0.038475,3.092168,1.756313,4,s00,1,0
2,20161001,'0200,0.002130,-86.737593,43.898986,0.656686,1.234509,0.702905,0.033103,3.072279,1.743432,4,s00,2,0
3,20161001,'0300,0.001982,-86.732503,43.926745,0.636780,1.225590,0.645259,0.038893,2.977448,1.776747,3,s00,3,0
4,20161001,'0400,0.001981,-86.739351,43.909146,0.638174,1.227341,0.622967,0.051944,2.931741,1.737196,4,s00,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,20170331,'1900,0.453092,-86.874526,43.350121,0.577146,1.066724,0.837941,0.668496,3.936318,2.516898,4,s00,19,0
4363,20170331,'2000,0.367999,-86.932753,43.313661,0.545436,1.030481,0.871549,0.685388,4.150541,2.696614,3,s00,20,0
4364,20170331,'2100,0.301312,-86.922137,43.335085,0.520052,1.039704,0.805202,0.647152,4.133676,2.650898,3,s00,21,0
4365,20170331,'2200,0.237262,-86.856535,43.454139,0.535951,1.123169,0.738047,0.546808,3.952266,2.270418,4,s00,22,0
4366,20170331,'2300,0.150339,-86.781427,43.648737,0.591748,1.232899,0.604809,0.335607,3.272382,1.801974,4,s00,23,0

In [5]:
y_list = []
mon_list = []
day_list = []
for d in bc['Date']:
    d = str(d)
    y_list.append(int(d[:4]))
    mon_list.append(int(d[4:6]))
    day_list.append(int(d[6:]))
bc['Year'] = y_list
bc['Month'] = mon_list
bc['Day'] = day_list
bc

,Date,Time,Mean,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected,Hour,Min,Year,Month,Day
0,20161001,'0000,0.002264,-86.782607,43.826370,0.636727,1.220643,0.715181,0.131627,3.182644,1.770542,2,s00,0,0,2016,10,1
1,20161001,'0100,0.001852,-86.754424,43.891926,0.628781,1.218608,0.723015,0.038475,3.092168,1.756313,4,s00,1,0,2016,10,1
2,20161001,'0200,0.002130,-86.737593,43.898986,0.656686,1.234509,0.702905,0.033103,3.072279,1.743432,4,s00,2,0,2016,10,1
3,20161001,'0300,0.001982,-86.732503,43.926745,0.636780,1.225590,0.645259,0.038893,2.977448,1.776747,3,s00,3,0,2016,10,1
4,20161001,'0400,0.001981,-86.739351,43.909146,0.638174,1.227341,0.622967,0.051944,2.931741,1.737196,4,s00,4,0,2016,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,20170331,'1900,0.453092,-86.874526,43.350121,0.577146,1.066724,0.837941,0.668496,3.936318,2.516898,4,s00,19,0,2017,3,31
4363,20170331,'2000,0.367999,-86.932753,43.313661,0.545436,1.030481,0.871549,0.685388,4.150541,2.696614,3,s00,20,0,2017,3,31
4364,20170331,'2100,0.301312,-86.922137,43.335085,0.520052,1.039704,0.805202,0.647152,4.133676,2.650898,3,s00,21,0,2017,3,31
4365,20170331,'2200,0.237262,-86.856535,43.454139,0.535951,1.123169,0.738047,0.546808,3.952266,2.270418,4,s00,22,0,2017,3,31
4366,20170331,'2300,0.150339,-86.781427,43.648737,0.591748,1.232899,0.604809,0.335607,3.272382,1.801974,4,s00,23,0,2017,3,31

In [6]:
nd_list = []
nt_list = []
for i in range(len(bc)):
    my_datetime = datetime(bc.iloc[i, 15], bc.iloc[i, 16], bc.iloc[i, 17], bc.iloc[i, 13], bc.iloc[i, 14], tzinfo = pytz.utc)
    #my_datetime_utc = my_datetime.strftime('%Y-%m-%d %H:%M:%S %Z%z')
    #print(my_datetime_utc)
    my_datetime_cst = my_datetime.astimezone(pytz.timezone('Etc/GMT+6')).strftime('%Y%m%d %H%M')
#     print(my_datetime_cst)
#     print(my_datetime_cst[:8])
#     print(my_datetime_cst[-4:])
    #print(type(my_datetime_cst))
    nd_list.append(my_datetime_cst[:8])
    nt_list.append(my_datetime_cst[-4:])

In [7]:
bc['CST_Date'] = nd_list
bc['CST_Time'] = nt_list

In [8]:
bc

,Date,Time,Mean,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected,Hour,Min,Year,Month,Day,CST_Date,CST_Time
0,20161001,'0000,0.002264,-86.782607,43.826370,0.636727,1.220643,0.715181,0.131627,3.182644,1.770542,2,s00,0,0,2016,10,1,20160930,1800
1,20161001,'0100,0.001852,-86.754424,43.891926,0.628781,1.218608,0.723015,0.038475,3.092168,1.756313,4,s00,1,0,2016,10,1,20160930,1900
2,20161001,'0200,0.002130,-86.737593,43.898986,0.656686,1.234509,0.702905,0.033103,3.072279,1.743432,4,s00,2,0,2016,10,1,20160930,2000
3,20161001,'0300,0.001982,-86.732503,43.926745,0.636780,1.225590,0.645259,0.038893,2.977448,1.776747,3,s00,3,0,2016,10,1,20160930,2100
4,20161001,'0400,0.001981,-86.739351,43.909146,0.638174,1.227341,0.622967,0.051944,2.931741,1.737196,4,s00,4,0,2016,10,1,20160930,2200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,20170331,'1900,0.453092,-86.874526,43.350121,0.577146,1.066724,0.837941,0.668496,3.936318,2.516898,4,s00,19,0,2017,3,31,20170331,1300
4363,20170331,'2000,0.367999,-86.932753,43.313661,0.545436,1.030481,0.871549,0.685388,4.150541,2.696614,3,s00,20,0,2017,3,31,20170331,1400
4364,20170331,'2100,0.301312,-86.922137,43.335085,0.520052,1.039704,0.805202,0.647152,4.133676,2.650898,3,s00,21,0,2017,3,31,20170331,1500
4365,20170331,'2200,0.237262,-86.856535,43.454139,0.535951,1.123169,0.738047,0.546808,3.952266,2.270418,4,s00,22,0,2017,3,31,20170331,1600
4366,20170331,'2300,0.150339,-86.781427,43.648737,0.591748,1.232899,0.604809,0.335607,3.272382,1.801974,4,s00,23,0,2017,3,31,20170331,1700

In [9]:
bc['CST_Date'] = bc['CST_Date'].astype(int)

In [10]:
bc.dtypes

Date               int64
Time              object
Mean             float64
Centroid_lon     float64
Centroid_lat     float64
Std_lon          float64
Std_lat          float64
Skewness_lon     float64
Skewness_lat     float64
Kurtosis_lon     float64
Kurtosis_lat     float64
Sample Number      int64
Selected          object
Hour               int64
Min                int64
Year               int64
Month              int64
Day                int64
CST_Date           int64
CST_Time          object
dtype: object

In [11]:
bc.columns

Index(['Date', 'Time', 'Mean', 'Centroid_lon', 'Centroid_lat', 'Std_lon',
       'Std_lat', 'Skewness_lon', 'Skewness_lat', 'Kurtosis_lon',
       'Kurtosis_lat', 'Sample Number', 'Selected', 'Hour', 'Min', 'Year',
       'Month', 'Day', 'CST_Date', 'CST_Time'],
      dtype='object')

In [12]:
binned = pd.DataFrame(data = bc[['CST_Date','Date','CST_Time','Time', 'Mean', 'Centroid_lon', 'Centroid_lat', 'Std_lon',
       'Std_lat', 'Skewness_lon', 'Skewness_lat', 'Kurtosis_lon',
       'Kurtosis_lat', 'Sample Number', 'Selected']])
binned.to_csv('05_cst_binned_lat_lon_opencv_16f17s_lake_0.csv',index = False)

In [13]:
binned.head(20)

,CST_Date,Date,CST_Time,Time,Mean,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected
0,20160930,20161001,1800,'0000,0.002264,-86.782607,43.826370,0.636727,1.220643,0.715181,0.131627,3.182644,1.770542,2,s00
1,20160930,20161001,1900,'0100,0.001852,-86.754424,43.891926,0.628781,1.218608,0.723015,0.038475,3.092168,1.756313,4,s00
2,20160930,20161001,2000,'0200,0.002130,-86.737593,43.898986,0.656686,1.234509,0.702905,0.033103,3.072279,1.743432,4,s00
3,20160930,20161001,2100,'0300,0.001982,-86.732503,43.926745,0.636780,1.225590,0.645259,0.038893,2.977448,1.776747,3,s00
4,20160930,20161001,2200,'0400,0.001981,-86.739351,43.909146,0.638174,1.227341,0.622967,0.051944,2.931741,1.737196,4,s00
5,20160930,20161001,2300,'0500,0.001763,-86.741405,43.918595,0.662029,1.225194,0.674357,0.049121,3.021846,1.728298,4,s00
6,20161001,20161001,0000,'0600,0.001984,-86.770357,43.867095,0.653430,1.214806,0.661709,0.102685,2.909717,1.724005,3,s00
7,20161001,20161001,0100,'0700,0.002377,-86.742645,43.919728,0.635383,1.214062,0.649331,0.057280,3.116133,1.757139,4,s00
8,20161001,20161001,0200,'0800,0.006413,-86.712081,43.964143,0.662054,1.250445,0.600625,-0.002615,2.783184,1.692478,4,s00
9,20161001,20161001,0300,'0900,0.001999,-86.737849,43.907235,0.641485,1.221090,0.646103,0.040276,2.995045,1.721905,3,s00
10,20161001,20161001,0400,'1000,0.007086,-86.772736,43.768827,0.622577,1.220645,0.697963,0.190313,3.201481,1.765246,4,s00
11,20161001,20161001,0500,'1100,0.002695,-86.717463,43.955945,0.664043,1.249484,0.618619,0.012789,2.836647,1.690189,4,s00
12,20161001,20161001,0600,'1200,0.085140,-86.649053,43.935564,0.628747,1.263721,0.611295,0.000559,3.077590,1.664288,3,s00
13,20161001,20161001,0700,'1300,0.344483,-86.746570,43.861376,0.625193,1.249325,0.649212,0.076624,3.117366,1.684589,4,s00
14,20161001,20161001,0800,'1400,0.504865,-86.725929,43.789186,0.650113,1.249470,0.699045,0.191237,3.015135,1.705761,4,s00
15,20161001,20161001,0900,'1500,0.640978,-86.748713,43.880931,0.643126,1.244369,0.655922,0.078061,2.979553,1.676332,3,s00
16,20161001,20161001,1000,'1600,0.690909,-86.754648,43.909091,0.647965,1.242704,0.641601,0.012683,2.932021,1.679095,4,s00
17,20161001,20161001,1100,'1700,0.692521,-86.748268,43.981540,0.655662,1.213982,0.657645,-0.027504,2.869325,1.734038,4,s00
18,20161001,20161001,1200,'1800,0.734330,-86.734843,44.008220,0.668509,1.209663,0.635949,-0.037229,2.778035,1.738197,3,s00
19,20161001,20161001,1300,'1900,0.732515,-86.714397,44.072939,0.680424,1.214290,0.590002,-0.099116,2.696701,1.745241,4,s00